<form class="row g-3">
  <div class="form-group col-md-2 col-auto">
    <label for="nombre" class="visually-hidden">Nombre</label>
    <input
      type="text"
      name="nombre"
      id="nombre"
      placeholder="nombre"
      class="form-control"
      #nombreInput
    />
  </div>
  <div class="form-group col-md-2">
    <label for="apellido" class="visually-hidden">Apellido</label>
    <input
      type="text"
      name="apellido"
      id="apellido"
      placeholder="apellido"
      class="form-control"
      #apellidoInput
    />
  </div>
  <div class="col">
    <button type="submit" class="btn btn-primary"
    (click)="agregarPersona(nombreInput, apellidoInput )">Agregar</button>
  </div>
</form>

